.row > * {
  margin-top: 30px;
}
.search-menu .card a {
  background-color: rgb(238,230,234);
  text-decoration: none;
}
.search-menu .card-body h5 {
  color:#606080;
  font-size: 1.25rem;
}
.search-menu .card {
  width: 20rem;
}
.search-bar.form-control {
  display: inline;
}
.row span svg {
  width: 2em;
  height: 2em;
  margin-right: 10px;
}
.search-menu .search-btn{
  background-color: rgb(238,230,234);
  border-radius: none;
}
.login-btn button{
  background-color: rgb(238,230,234)!important;
  color:#606080;
  border: 0;
}
.register-navigate a{
  text-decoration: none;
  color:purple;
  
}
.register-btn button{
  background-color: rgb(238,230,234)!important;
  color:#606080;
  border: 0;
}
.login-navigate a{
  text-decoration: none;
  color:purple;
}
.delete-user button{
  background-color: purple!important;
  border: 0;
}
