.row > * {
  margin-top: 30px;
}
.search-menu .card a {
  color: #cc0000;
  text-decoration: none;
}
.search-bar.form-control {
  display: inline;
}
.row span svg {
  width: 2em;
  height: 2em;
  margin-right: 10px;
}
